.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color:#eceae9;
    z-index: 1;
}

.product__rating {
    display: flex;
}

.product>img {
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background: #c762a0;
    width: 250px;
    height: 200px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #000000 #000000 #000000;
    color: #111;
    border-radius: 50% ,50% , 0% ;
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 3px;
    width: 100px;
    font-size: 24px;

    text-align: center;
    
   
    color: #111;
     font-family: 'Open Sans', sans-serif; 
    
  
      line-height: 32px; 
    
       
   
  
}